<!DOCTYPE html>
<html lang="fr">

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/admin-list.css">
	</head>

	<body>
		<%- include("includes/header") %>
		<div class="spacer vertical xl"></div>
		<main class="main full">
			<h1 class="h1"><%= title %></h1>
			
			<div class="separator horizontal lg"></div>

			<section class="admin-list admin-list--types">
				<h2 class="h2">Types</h2>
				<div class="spacer vertical sm"></div>
				<div class="admin-list__list">
					<% for (const type of types) { %>
						<article class="admin-list__item">
							<div class="admin-list__label"><%= type.name %></div>
							<div class="admin-list__buttons">
								<a href="/heroes-by-type/<%= type.id %>" class="button button--inline admin-list__button admin-list__button">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a href="/admin/types/edit/<%= type.id %>" class="button button--inline admin-list__button admin-list__button">
									<i class="fa-solid fa-pencil"></i>
								</a>
								<button onclick=<%= `openDeleteTypeModal(${type.id})` %> class="button danger button--inline admin-list__button admin-list__button--delete">
									<i class="fa-solid fa-trash-can"></i>
								</button>
								<dialog id="delete-type-modal-<%= type.id %>" class="modal">
									<h3 class="h3">Are you sure you want to delete “<%= type.name %>”?</h3>
									<div class="spacer vertical md"></div>
									<p>The deletion of this type will be permanent.</p>
									<div class="spacer vertical lg"></div>
									<div class="flex gap-sm justify-end align-center">
										<button class="button gray" onclick=<%= `closeDeleteTypeModal(${type.id})` %>>Cancel</button>
										<form method="POST" action="/admin/types/delete/<%= type.id %>">
											<button type="submit" class="button danger" onclick=<%= `closeDeleteTypeModal(${type.id})` %>>Delete</button>
										</form>
									</div>
								</dialog>
							</div>
						</article>
					<% } %>
					<a href="/admin/types/new" class="button primary">Add a new type</a>
				</div>
			</section>
			
			<div class="separator horizontal lg"></div>

			<section class="admin-list admin-list--interests">
				<h2 class="h2">Interests</h2>
				<div class="spacer vertical sm"></div>
				<div class="admin-list__list">
					<% for (const interest of interests) { %>
						<article class="admin-list__item">
							<div class="admin-list__label"><%= interest.name %></div>
							<div class="admin-list__buttons">
								<a href="/heroes-by-interest/<%= interest.id %>" class="button button--inline admin-list__button admin-list__button">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a href="/admin/interests/edit/<%= interest.id %>" class="button button--inline admin-list__button admin-list__button">
									<i class="fa-solid fa-pencil"></i>
								</a>
								<button onclick=<%= `openDeleteInterestModal(${interest.id})` %> class="button danger button--inline admin-list__button admin-list__button--delete">
									<i class="fa-solid fa-trash-can"></i>
								</button>
								<dialog id="delete-interest-modal-<%= interest.id %>" class="modal">
									<h3 class="h3">Are you sure you want to delete “<%= interest.name %>”?</h3>
									<div class="spacer vertical md"></div>
									<p>The deletion of this interest will be permanent.</p>
									<div class="spacer vertical lg"></div>
									<div class="flex gap-sm justify-end align-center">
										<button class="button gray" onclick=<%= `closeDeleteInterestModal(${interest.id})` %>>Cancel</button>
										<form method="POST" action="/admin/interests/delete/<%= interest.id %>">
											<button type="submit" class="button danger" onclick=<%= `closeDeleteInterestModal(${interest.id})` %>>Delete</button>
										</form>
									</div>
								</dialog>
							</div>
						</article>
					<% } %>
					<a href="/admin/interests/new" class="button primary">Add a new interest</a>
				</div>
			</section>
			
		</main>

		<script>
			function openDeleteTypeModal(typeId) {
				const deleteTypeModal = document.querySelector(`#delete-type-modal-${typeId}`)
				deleteTypeModal.showModal()
			}
			function closeDeleteTypeModal(typeId) {
				const deleteTypeModal = document.querySelector(`#delete-type-modal-${typeId}`)
				deleteTypeModal.classList.add("is-closing")
				setTimeout(() => {
					deleteTypeModal.classList.remove("is-closing")
					deleteTypeModal.close()
				}, 500)
			}

			function openDeleteInterestModal(interestId) {
				const deleteInterestModal = document.querySelector(`#delete-interest-modal-${interestId}`)
				deleteInterestModal.showModal()
			}
			function closeDeleteInterestModal(interestId) {
				const deleteInterestModal = document.querySelector(`#delete-interest-modal-${interestId}`)
				deleteInterestModal.classList.add("is-closing")
				setTimeout(() => {
					deleteInterestModal.classList.remove("is-closing")
					deleteInterestModal.close()
				}, 500)
			}
		</script>

	</body>

</html>