<!DOCTYPE html>
<html lang="fr">

<head>
	<%- include("includes/headContent") %>
		<!-- <link rel="stylesheet" href="/styles/index.css"> -->
</head>

<body>
	<%- include("includes/header") %>
	<div class="spacer vertical lg"></div>
	<main class="main">
		<h1 class="h1"><%= title %></h1>
		<div class="spacer vertical sm"></div>
		<h2 class="h2">Amaze us!</h2>
		<div class="spacer vertical"></div>

		<form
			class="form"
			method="POST"
			action="<%= hero?.id 
				? `/edit-hero/${hero.id}` 
				: "/new-hero"
			%>"
		>

			<label class="form-field">
				<span class="form-field__label">Name</span>
				<input name="name" required class="form-field__input" value="<%= hero?.name %>" />
			</label>

			<label class="form-field">
				<span class="form-field__label">Picture url</span>
				<input name="photo" class="form-field__input" value="<%= hero?.photo %>" />
			</label>


			<label class="form-field">
				<span class="form-field__label">Sex</span>
				<select name="sex" required class="form-field__input">
					<% for (const sex of sexes) { %>
						<option value="<%= sex.id %>" <%= hero?.sex_id === sex.id ? "selected='selected'" : "" %>">
							<%= sex.name %>
						</option>
					<% } %>
				</select>
			</label>

			<label class="form-field">
				<span class="form-field__label">Bio</span>
				<textarea
					name="bio"
					required
					class="form-field__input"
					rows="5"
				><%= hero?.bio %></textarea>
			</label>

			<section class="flex wrap justify-end gap-sm">
				<% if (hero?.id) { %>
					<a
						href="/hero/<%= hero.id %>"
						class="button gray"
					>
						Cancel
					</a>
				<% } else { %>
					<button
						onclick="history.back()"
						class="button gray"
					>
					Cancel
					</button>
				<% } %>
				<input class="button success" type="submit" value="Submit" />
			</section>

		</form>
	</main>
</body>

</html>