<!DOCTYPE html>
<html lang="fr">

	<head>
		<%- include("includes/headContent") %>
	</head>

	<body>
		<%- include("includes/header") %>
		<div class="spacer vertical lg"></div>

		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical sm"></div>
			<h2 class="h2"><%= error.name %>&nbsp;</h2>
			<div class="spacer vertical sm"></div>
			<p><%= error.message %></p>
			<div class="spacer vertical"></div>
			<div class="flex wrap gap-sm">
				<% if (error.statusCode === 400) { %>
					<button
						onclick="history.back()"
						class="button primary"
					>
						Go back
					</button>
				<% } else { %>
					<a href="/" class="button primary">Go home</a>
				<% } %>
			</div>
		</main>

	</body>
	
</html>