<!DOCTYPE html>
<html lang="fr">

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/hero-card.css">
	</head>

	<body>
		<%- include("includes/header") %>
		<div class="spacer vertical xl"></div>

		<main class="main">

			<article class="card hero-card lg flex column gap-lg">
				<header class="flex column align-center gap-sm">
					<div class="hero-card__photo">
						<% if (hero.photo) { %>
							<img src="<%= hero.photo %>" alt="<%= hero.name %>">
						<% } else { %>
							<i class="fa-solid fa-mask"></i>
						<% } %>
					</div>
					
					<h2 class="h1">
						<%= hero.name %>&nbsp;<!--
						--><% if (hero.sex_id === 1) { %><i class="h2 opacity-50 fa-solid fa-mars"></i><% } %><!--
						--><% if (hero.sex_id === 2) { %><i class="h2 opacity-50 fa-solid fa-venus"></i><% } %>
					</h2>
					
					<% if (hero.types.length) { %>
						<section class="badges">
							<% for (const type of hero.types) { %>
								<a class="badge white" href="/heroes-by-type/<%= type.id %>">
									<%= type.name %>
								</a>
							<% } %>
						</section>
					<% } %>
				</header>

				<% if (hero.bio) { %>
					<section class="bio">
						<h3 class="h4">About me</h3>
						<div class="spacer vertical xs"></div>
						<p class="h2"><%= hero.bio %></p>
					</section>
				<% } %>

				<% if (hero.interests.length) { %>
					<section class="interests">
						<h3 class="h4">Interests</h3>
						<div class="spacer vertical xs"></div>
						<div class="badges">
							<% for (const interest of hero.interests) { %>
								<a class="badge sm gray" href="/heroes-by-interest/<%= interest.id %>">
									<%= interest.name %>
								</a>
								<% } %>
						</section>
					</section>
				<% } %>
					
				<footer>
					<div class="separator horizontal"></div>
					<div class="spacer vertical lg"></div>
					<section class="flex justify-center wrap gap-sm">
						<a href="/edit-hero/<%= hero.id %>" class="button primary">Update hero</a>
						<button onclick="openDeleteModal()" class="button danger">Delete hero</button>
					</section>
				</footer>

			</article>

		</main>

		<dialog id="delete-modal" class="modal">
			<h3 class="h3">Are you sure you want to delete “<%= hero.name %>”?</h3>
			<div class="spacer vertical md"></div>
			<p>The deletion of this hero will be permanent.</p>
			<div class="spacer vertical lg"></div>
			<div class="flex gap-sm justify-end align-center">
				<button class="button gray" onclick="closeDeleteModal()">Cancel</button>
				<form method="POST" action="/delete-hero/<%= hero.id %>">
					<button type="submit" class="button danger" onclick="closeDeleteModal()">Delete</button>
				</form>
			</div>
		</dialog>

		<script>
			const deleteModal = document.querySelector("#delete-modal")
			function openDeleteModal() {
				deleteModal.showModal()
			}
			function closeDeleteModal() {
				deleteModal.classList.add("is-closing")
				setTimeout(() => {
					deleteModal.classList.remove("is-closing")
					deleteModal.close()
				}, 500)
			}
		</script>

	</body>

</html>